:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --main-header-color: #212121;
  --main-background-color: #e5e5e5;
  --sec-background-color: #f5f4fa;
  --white-text-color: #ffffff;
}
.link-decoration {
  text-decoration: none;
}
textarea {
  resize: none;
}
.list-decoration {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}
.visuallny-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background: #ffffff;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato;
 */
}
/* ------ header ------> */
.header {
  border-bottom: 1px solid #ececec;
}

.header__flex {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__fp {
  color: var(--accent-color);
}
.logo__sp {
  color: #000000;
}
.nav-list {
  display: flex;
  align-items: center;
}
.header__nav-list {
  margin-left: 93px;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__item {
  position: relative;
}
.nav-list__link--curent::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list__link {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-decoration:hover,
.link-decoration:focus {
  color: var(--accent-color);
}
.link-decoration:hover .contacts-list__icon,
.link-decoration:focus .contacts-list__icon {
  fill: var(--accent-color);
}
.contacts-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link--curent {
  color: var(--accent-color);
}
.contacts-list__icon--envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contacts-list__icon--smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* ------ section banner ------> */
.banner {
  padding-top: 0;
  padding-bottom: 0;
  background: #2f303a;
  text-align: center;
}
.banner__overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 4px solid green; */
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bannerbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.baner__content {
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__title {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.button {
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ------ section descriptions------> */

.descriptions-list {
  display: flex;
  flex-direction: row;
}

.descriptions-list__item {
  width: 270px;
  margin-right: 30px;
}
.descriptions-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
/* .section-des-list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/svg/antenna\ 1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../images/svg/clock\ 1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-diagram::before {
  background-image: url(../images/svg/diagram\ 1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut\ 1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
} */
.descriptions-list__item:last-child {
  margin-right: 0;
}

.descriptions-list__caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-color);
}
.descriptions-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------ section our_work------> */
.work {
  padding-top: 0;
}
.work-list {
  display: flex;
}
.work-list__item {
  width: 370px;
  margin-right: 30px;
}
.work-list__item:last-child {
  margin-right: 0;
}
.work-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.work-list__caption {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);

  bottom: 0;
  left: 0;
}

.work-list__tumb {
  position: relative;
}
/* ------ section our_team------> */
.team {
  background: var(--sec-background-color);
}
.team-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-list {
  display: flex;
}
.team-list__item {
  width: 270px;
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:last-child {
  margin-right: 0px;
}
.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}
.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.soc-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
  background: #2196f3;
}
.soc-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover .soc-list__icon,
.soc-list__link:focus .soc-list__icon {
  fill: #ffffff;
}
/* ------ customers------> */

.customers-list {
  display: flex;
  flex-flow: row;
}
.customers-list__item {
  margin-right: 30px;
}
.customers-list__item:last-child {
  margin-right: 0;
}
.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover,
.customers-list__link:focus {
  border: 1px solid #2196f3;
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: #2196f3;
}

.customers-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ------ footer------> */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__contacts {
  flex-grow: 1;
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
}

.logo-sp--inverse {
  color: var(--white-text-color);
}

.address-list__item {
  margin-bottom: 9px;
}
.address-list__item:last-child {
  margin-bottom: 0;
}
.address-list__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-decoration {
  color: rgba(255, 255, 255, 0.6);
}
.footer__social {
  margin-right: 93px;
}
.social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-list {
  display: flex;
  flex-direction: row;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__icon {
  fill: #ffffff;
}
.social-list__link:hover,
.social-list__link:focus {
  background: #2196f3;
}
.footer-form-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-form-email {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-email:focus {
  border-color: var(--accent-color);
}
.footer-form-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-position {
  display: flex;
  flex-direction: row;
}
.footer-form-but {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-form-but-icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}

/* ------------------ PORTFOLIO-----------------------> */
/* ------ portfolio menu------> */
.portfolio-menu-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-menu-list-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
  background: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu-list-item {
  margin-right: 8px;
}
.portfolio-menu-list-item:last-child {
  margin-right: 0;
}
.portfolio-menu-list-item-btn:hover,
.portfolio-menu-list-item-btn:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------ portfolio projects------> */

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-projects-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-projects-list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-projects-list-item-thumb {
  overflow: hidden;
  position: relative;
}
.portfolio-projects-list-item-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-projects-list-item:hover .portfolio-projects-list-item-parag {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-projects-list-item-parag {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-projects-list-item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-header-color);
}
.portfolio-projects-list-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* ------ modal ------> */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
  opacity: 0.1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  transform: rotate(360deg) translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: #ffffff;
  /* padding-top: 8px;
  padding-right: 8px; */
  transition: transform 600ms, opacity 2000ms;
}
.modal-button {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--accent-color);
}
.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}
.modal-form {
  margin-right: auto;
  margin-left: auto;
}

.modal-form-field {
  /* outline: 1px solid blue; */
  margin-bottom: 10px;
}

.modal-form-field-comment {
  margin-bottom: 20px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  display: block;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .form-input:hover,
.modal-form-comment:hover, */
.form-input:focus,
.modal-form-comment:focus {
  border-color: var(--accent-color);
}
/* .form-input:hover + .icon, */
.form-input:focus + .icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.field-wrapper {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-header-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-but {
  display: block;
  margin: auto;
}

.check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement-two {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 100%;
  margin-bottom: 30px;
}
.agreement-checkbox:focus + .agreement-check-field .agreement-check-box {
  border-color: var(--accent-color);
}
.agreement-check-box {
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-header-color);
  border-radius: 2px;
  background-color: transparent;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-checked {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .agreement-check-field::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-header-color);
  border-radius: 2px;
  background-color: transparent;
  margin-right: 7px;
} 
*/
.agreement-checkbox:checked + .agreement-check-field .icon-checked {
  fill: var(--accent-color);
}
.agreement-checkbox:checked + .agreement-check-field .agreement-check-box {
  border: none;
}
.agreement-accent {
  position: relative;
}
.agreement-two::after {
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}
